apiVersion: apps/v1
kind: Deployment
metadata:
  name: zoneprinter
  labels:
    app: zoneprinter
spec:
  selector:
    matchLabels:
      app: zoneprinter
  template:
    metadata:
      labels:
        app: zoneprinter
    spec:
      containers:
      - name: frontend
        image: gcr.io/amiteinav-sandbox/mci-with-go
        ports:
          - containerPort: 80
        resources:
            # You must specify requests for CPU to autoscale
            # based on CPU utilization
          requests:
          cpu: "250m"
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
    name: zoneprinter
spec:
    scaleTargetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: zoneprinter
    minReplicas: 1
    maxReplicas: 20
    targetCPUUtilizationPercentage: 65